/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap"; 


.navbar {
	border-radius: 0px;
}

span.navbar-brand {
	font-size: 20px;
}

h1.home_title {
	font-size: 36px;
	margin: 20px 0px 10px;
}

h2.new_book {
	padding-top: 50px;
}

.field {
	margin: 10px 0px;
}

.edit_button {
	margin-top: 10px;
}

.btn-primary {
	margin-top: 10px;
}

.user-edit-image {
	position: relative;
	overflow: hidden;
	padding-top: 100%;
}


.img-square {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.search_form {
	text-align: center;
}

